/**------------------------------FOOTER-------------------------------------------------------------------------------**/
#footer {
    background-color: black;
    color: rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 100;
  
    /** -----------FILA 1  LOGO, CONTACTO, MENU----------**/
    
    #filaUnoFooter {
      display: grid;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-areas: "logo contactoyredes . . . . menu";
      margin: 0 70px 0 70px;
      .logoFooter {
        grid-area: logo;
        img {                                    /** LOGO **/
          width: 170px;
          height: 170px;
          margin-top: 200px;
          margin-right: 30px;
        }
      }
      .contactoyredesFooter {
        grid-area: contactoyredes;
        margin-top: 200px;
        .redesFooter {
          h2 {                                  /** REDES **/
            margin-top: 30px;
            color: rgb(255, 255, 255);
            font-family: "Concert One", sans-serif;
            letter-spacing: 0.05em;
          }
          img {
            width: 40px;
            height: auto;
            margin-right: 10px;
            margin-top:  25px;
          }
        }  
      }
      .menuFooter {
        grid-area: menu;
        ul {                  /** MENU FOOTER **/
          display: flex;
          flex-direction: column;
          align-items: end;
          margin-bottom: 80px;
          margin-top: 200px;
          a {
            color: rgb(204, 204, 204);
            line-height: 1.8;
            font-size: larger;
          }
          a:hover {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  
    /** ---------FILA 2  COPIRIGHT, DISEÑO, MAIL---------**/
    
    #filaDosFooter {
      display: grid;
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-areas: "copyright diseno . . . mail";
      margin: 200px 70px 40px 70px;
      .copyrightFooter {     /** COPYRIGHT **/
        grid-area: copyright;
        h3 {             
          font-size: medium;
          font-weight: 100;
        }
      }
  
      .disenoFooter {       /**DESIGN BY**/
        grid-area: diseno;
        display: flex;
        justify-content: left;
        h3 {
          font-size: medium;
          font-weight: 100;
        }
        a {
          text-decoration: underline;
          color: rgb(204, 204, 204);
        }
        a:hover {
          color: rgb(255, 255, 255);
        }  
      }
      
      .mailFooter {         /** MAIL **/
        grid-area: mail;
        display: flex;
        justify-content: right;
        h3 {                    
          font-size: medium;
          font-weight: 100;
        }
      }
    }
  }
  


/**---------------------------------- FOOTER RESPONSIVE --------------------------------------------------------------------**/

/**------- FOOTER GRID -------**/

@media (max-width: 1024px) {
  #footer {
    margin-top: 0px;
    }
  }

@media (max-width: 768px) { /**-----FILA 1-----**/
  #footer {
    #filaUnoFooter {
      margin-top: 0px;
      display: grid;
      margin-right: 20px;
      margin-left: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "logo contactoyredes" "menu .";
      .menuFooter {
        display: flex;
        ul {
          display: flex;
          align-items: start;
          margin: 100px 0 0 10px;
          padding: 0;
        }
      }
    }

    
    #filaDosFooter { /**-----FILA 2-----**/
      margin-left: 20px;
    }
  }
}



/**---------FOOTER FLEX-----------**/

@media (max-width: 600px) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    #filaUnoFooter { /**-----FILA 1-----**/
      display: flex;
      flex-direction: column;
      margin: 50px 20px 20px 20px;
      padding: 0;
      .logoFooter {
        margin: 0 0 0px 0px;
      }
      .contactoyredesFooter {
        margin: 90px 0 0 0px;
        padding: 0;
        .redesFooter img {
          margin-top: 5px;
          margin-right: 5px;
        }
      }
      .menuFooter ul {
        display: flex;
        align-items: start;
        margin: 70px 0 0 0px;
        padding: 0;
      }
    }
    
    #filaDosFooter { /**-----FILA 2-----**/
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: space-between;
      margin: 70px 0 0 40px;
      padding: 0;
      .mailFooter,
      .disenoFooter,
      .copyrightFooter {
        margin: 0px 15px 20px 0;
        h3 { 
          margin: 0px 0px 0 0;
          padding: 0;
          font-size: small;
        }
      }
    }
  }
}


@media (max-width: 300px) {
  .contactoFooter h5 {
    text-align: center;
  }
}
