
/**----------------------------NAV GERERAL--------------------------------------------------------------------------------------------------**/


.navbar-toggler {       /**MENU HAMBURGUESA SIN BORDES**/
  border: none;             /**BOOTSTRAP**/  /** INDEX Y PAGES**/
}
  
  
.navbar-toggler:focus{      
  box-shadow: none;
}

.navbar-nav {
  width: 300px;
  height: 65px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.nav-link {
  padding: 0 !important;
  margin: 5px 30px !important;
}

.navbar-toggler {
  z-index: 101;
}


  
/**-----BARRA DE NAVEGADOR INDEX-----------------------------------------------------------------------------------------------**/
   

.navBarBtsIndex {
  background-color: rgba(0, 0, 0, 0.337);
  width: 100%;
  height: 65px;
  position: fixed;
  z-index: 100;
  .logoNavIndex img {            /**LOGO navegador TOP INDEX**/
    width: 23px;
    height: auto;
    margin-left: 7%;
    margin-top: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
  }
}

.menuIndex {
  display: flex;
  justify-content: right;
  align-items: center;
  .ulNavIndex {                    /**UL navegador INDEX**/
    width: 500px;
    height: 65px;
    display: flex;
    margin-right: 150px;
    
    a{                   /**LINKS navegador INDEX**/
      color: rgb(255, 255, 255);
      margin: 30px;
      font-size: 18px;
    }
    a:hover {            /**COLOR LINKS CON PUNTERO ARRIBA**/
      color: rgb(188, 185, 185);
    }
  }
}
  
.hamburguesaColorIndex {        /**CAMBIO DE COLOR DEL MENU HAMBURGUESA**/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  
}




/**----------------------------NAV PAGES------------------------------------------------------------------------------------------------------**/

.navBarBtsPages {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 100;
    top: 0;
  .logoNavPages img { /**LOGO navegador TOP PAGES**/
    width: 23px;
    height: auto;
    margin-left: 7%;
    margin-top: 15px;
    position: fixed;
    top: 0;
    z-index: 100;
  }
}


.menuPages {
  height: 100px;
  display: flex;
  justify-content: right;
  align-items: center;
  .ulNavPages { /**UL navegador PAGES**/
    width: 500px;
    height: 100px;
    display: flex;
    margin-right: 150px;
    a { /**LINKS navegador PAGES**/
      color: rgb(0, 0, 0);
      margin: 30px;
      font-size: 18px;
    }
    a:hover { /**COLOR LINKS CON PUNTERO ARRIBA**/
      color: rgb(188, 185, 185);
    }
  }
}
  
.hamburguesaColorPages { /**CAMBIO DE COLOR DEL MENU HAMBURGUESA PAGES**/
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
  


/**---------------------------------- NAVEGADORES RESPONSIVE ----------------------------------------------------------------**/


/**-----MENU HAMBURGUESA INDEX-----**/


@media (max-width: 992px) {

  .menuIndex {
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    .ulNavIndex {
      display: flex;
      justify-content: left;
      align-items: start;
      line-height: 50px;
      margin-top: 150px;
    }
  }
}

/**-----MENU HAMBURGUESA PAGES-----**/

@media (max-width: 992px) {

  .menuPages {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: start;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    .ulNavPages {
      display: flex;
      justify-content: left;
      align-items: start;
      line-height: 50px;
      margin-top: 150px;
    }
  }
}


