
/**------------------------------NOSOTROS CONTENIDO--------------------------------------------------------**/
#mainNosotros {
    margin-top: 100px;
    .lineas {
        margin: 200px 0;
        .textos {       /**CAJAS DE TEXTOS**/
            width: 500px;
            height: auto;
            margin: 20px;
            h3 {
                width: 100% !important;
            }
            p { /**PARRAFOS**/
                text-align: justify;
                width: 100%;
                height: auto;
                line-height: 2;
                margin-top: 40px;
            }
        }

    }

    img {               /**IMAGENES**/
        width: 500px;
        height: auto;
        margin: 20px;
    }


    #lineaUnoNosotros {
        margin-top: 300px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

  
    #lineaDosNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }

    #lineaTresNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #lineaCuatroNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }

    #lineaCincoNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #lineaSeisNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }

    
    .textoCuatroNosotros h3,  /**TITULOS GRANDES**/
    .textoCincoNosotros h3,  /**TITULOS GRANDES**/
    .textoSeisNosotros h3 {
        font-size: 45px;
    }

}

    
    /**-------CONTENIDO NOSOTROS  MEDIA QUERIES--------**/


@media (max-width: 600px) {
    #mainNosotros {
        .lineas {
            margin-bottom: 50px !important;
            margin: 0 10px;
            .imagenNosotros {
                display: flex;
                justify-content: center;
                img{

                    width: 80% !important;
                    height: auto;
                }
            }
            
            .textos {       /**CAJAS DE TEXTOS**/
                width: 100%;
                height: auto;


            }
        }
        #lineaSeisNosotros {

            .imagenNosotros {
                width: 100% !important;
                img {
                    width: 100% !important;
                    margin: 0 !important;
                }
            }
            .textoSeisNosotros {
                margin: 50px; 
                h3 {
                    width: 100% !important;
                    font-size: 38px;
                }   
                p {
                    width: 100% !important;
                }       
            }
        }

    }
}

@media (max-width: 300px) {
    .textoCuatroNosotros h3,  /**TITULOS GRANDES**/
    .textoCincoNosotros h3,  /**TITULOS GRANDES**/
    .textoSeisNosotros h3 {
        font-size: 30px !important;
    }
}

    
    