
/**------------------------------NOSOTROS CONTENIDO--------------------------------------------------------**/
#mainNosotros {
    margin-top: 100px;
    .lineas {
        margin: 200px 0;
        .textos {       /**CAJAS DE TEXTOS**/
            width: 400px;
            height: 400px;
            margin: 20px 0px;
            h3 {
                width: 100% !important;
            }
            p { /**PARRAFOS**/
                text-align: justify;
                width: 100%;
                height: auto;
                line-height: 2;
                margin-top: 40px;
            }
        }

    }
    #lineaUnoNosotros {
        margin-top: 300px;
    }

    img {               /**IMAGENES**/
        width: 400px;
        height: 400px;
    }
   
    #lineaUnoNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #lineaDosNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }
    #lineaTresNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #lineaCuatroNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }
    #lineaCincoNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #lineaSeisNosotros{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }

    
    .textoCuatroNosotros h3,  /**TITULOS GRANDES**/
    .textoCincoNosotros h3,  /**TITULOS GRANDES**/
    .textoSeisNosotros h3 {
        font-size: 45px;
    }

}

    
    /**-------CONTENIDO NOSOTROS --------**/
@media (max-width: 600px) {
    #mainNosotros {
        .lineas {
            margin-bottom: 50px !important;
            margin: 0 50px;
            .imagenNosotros img{
                width: 100% !important;
                height: auto;
            }
            .textos {       /**CAJAS DE TEXTOS**/
                width: 100%;
                height: auto;


            }
        }
        #lineaSeisNosotros {
            padding: 0 !important;
            margin: 0 !important;
            .textoSeisNosotros {
                margin: 50px;       
            }
        }

    }
}

@media (max-width: 300px) {
    .textoCuatroNosotros h3,  /**TITULOS GRANDES**/
    .textoCincoNosotros h3,  /**TITULOS GRANDES**/
    .textoSeisNosotros h3 {
        font-size: 30px !important;
    }
}

    
    