/**---------------------------------PIEZAS CONTENIDO---------------------------------------------------------------------**/

#mainPiezas { /**MAIN PIEZAS **/
  margin-top: 100px;
  #tituloPiezas { /** CAJA TITULO **/
    display: flex;
    flex-direction: column;
    margin: 250px 0 100px 110px;
    .lineaTituloPieza { /**LINEA **/
      width: 13%;
      height: 40px;
      border-top: 1px solid rgba(0, 0, 0, 0.6);
    }
  }
  .sectionsPieza { /**SECCIONES**/
    display: flex;
    margin: 200px auto 200px auto;
    justify-content: center;
    padding: 30px;
  }
  #lineaUnoPiezas{
    flex-wrap: wrap-reverse;
  }
  #lineaDosPiezas { /** PARES **/
    flex-wrap: wrap;
  }
  #lineaTresPiezas {
    flex-wrap: wrap-reverse;
  }
}
  


/**-------LINEA DIVISORIA DE PARRAFOS --------------------**/


.lineaParrafoPiezas {
  width: 130px;
  height: 40px;
  margin-left: 25%;
  margin-top:35px;
  border-top: 1px solid rgba(0, 0, 0, 0.7);
}






#tituloPiezas h1 { /** TITULO **/
  font-size: 70px;
  width: 900px;
  margin-left: 30px;
  font-weight: 600;
}

#tituloPiezas h3 { /** SUB TITULO**/
  font-size: 30px;
  color: rgba(0, 0, 0, 0.507);
  margin-bottom: 45px;
  margin-left: 35px;
}

.textosPiezas {
  width: 400px;
  height: auto;
  line-height: 2;
  margin: 0 50px;
}



#mainPiezas p { /**PARRAFOS**/
  width: 100%;
  height: auto;
  text-align: justify;
  margin-bottom: 50px;
}

.imagenesPiezas{
  margin: 0 50px;
  overflow: hidden;
}

#mainPiezas img {
  width: 400px;
  height: auto;
  transition: all 0.5s;
  transform: scale(1);
  filter: grayscale(100%);
}

#mainPiezas img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}




/**-------------------------------PIEZAS RESPONSIVE-------------------------------------------------------------------**/


@media (max-width: 1076px) {     /** TITULO 1076 **/
  #tituloPiezas {
    margin-bottom: 400px !important;
    margin-left: 80px !important;
    .lineaTituloPieza {          
      width: 18% !important;
    }
    h1 {            
      font-size: 50px;
      width: 600px;
    }

  }

  .textosPiezas p {           /**Parrafos**/
    text-align: center !important;
  }

  .textosPiezas h3 {        /** Titulos de parrafos **/
    margin-left: 5%;
  }

  .lineaParrafoPiezas {     /**Lineas animadas**/
    margin-left: 20%;

  } 
}

@media (max-width: 768px) { /** TITULO 768 **/
  #tituloPiezas {
    margin-bottom: 100px;
    h1 {
      font-size: 35px;
      width: 450px;
    }
    .lineaTituloPieza { /**LINEA **/
      width: 20% !important;
    }
  }
}

@media (max-width: 600px) { /** TITULO 600 **/
  #tituloPiezas {
    margin-left: 30px !important;
    h1 {
      font-size: 30px;
      width: 350px;
    }
    .lineaTituloPiezas { /**LINEA **/
      width: 30% !important;
    }
  } 
}

@media (max-width: 480px) { /** TITULO 480 **/
  #tituloPiezas {
    margin-left: 20px;
    h1 {
      font-size: 30px;
      width: 80% !important;
    }
    .lineaTituloPieza { /**LINEA **/
      width: 33% !important;
    }
 
  }
  .lineaParrafoPiezas {
    width: 110px;  /** LINEA PARRAFOS **/
  }
}

@media (max-width: 320px) { /** TITULO 320 **/
  #tituloPiezas {
    margin-left: 20px;
    h1 {
      font-size: 30px;
      width: 250px;
    }
    .lineaTituloPieza { /**LINEA **/
      width: 40% !important;
    }
    h3 {
      font-size: 25px;
    }
  }
  .lineaParrafoPiezas {
    width: 80px;  /** LINEA PARRAFOS **/
  }
}

/**-------CONTENIDO PIEZAS --------**/
@media (max-width: 600px) {
#mainPiezas img {
  width: 100%;
  height: auto;
}
.imagenesPiezas {
  margin: 0 15px;
}
.textosPiezas {
  margin: 0 15px;
}
.sectionsPieza {
  margin: 100px 0;
}
}

